:root {
  --primary-dark: #7B1FA2;
  --primary-light: #E1BEE7;
  --primary: #9C27B0;

  --accent: #E040FB;

  --text: #212121;
  --text-secondary: #757575;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--text);
  font-family: sans-serif;
  color: #fff;
}

body {
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 768px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-app {
  min-height: 100vh;
  background-color: var(--primary-dark);
}

.page-content {
  padding: 20px;
}

.button {
  display: inline-block;
  position: relative;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  color: var(--text);
  border-radius: 2em;
  font-weight: normal;
  min-width: 100px;
}

.letter-wrap {
  font-size: 50vh;
  text-align: center;
  font-family: serif;
  text-transform: uppercase;
  background-color: var(--primary);
}

h1 {
  margin: 0 0 12px;
}

p {
  margin: 0 0 1.5em;
}
